<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>
  
<add name="SAE" connectionString="Password=bacros;Persist Security Info=True;User ID=sa;Initial Catalog=SAE70Empre01;Data Source=DESKTOP-NIHO3DH\SQLEXPRESS;" providerName="System.Data.SqlClient"/>
    <add name="COI" connectionString="Password=bacros;Persist Security Info=True;User ID=sa;Initial Catalog=COI80Empre1;Data Source=DESKTOP-NIHO3DH\SQLEXPRESS;" providerName="System.Data.SqlClient"/>
    <add name="POLIZA_AROMITALIA.My.MySettings.COI70Empre01ConnectionString" connectionString="Data Source=DESKTOP-NIHO3DH\SQLEXPRESS;Initial Catalog=COI80Empre1;Persist Security Info=True;User ID=sa;Password=bacros" providerName="System.Data.SqlClient"/>

   
   <!-- <add name="SAE" connectionString="Password=aspel**2014;Persist Security Info=True;User ID=sa;Initial Catalog=SAE60Empre01;Data Source=HPSERVER\SQLEXPRESS;" providerName="System.Data.SqlClient" />
    <add name="COI" connectionString="Password=aspel**2014;Persist Security Info=True;User ID=sa;Initial Catalog=COI70Empre01;Data Source=HPSERVER\SQLEXPRESS;" providerName="System.Data.SqlClient" />
    <add name="POLIZA_AROMITALIA.My.MySettings.COI70Empre01ConnectionString" connectionString="Data Source=HPSERVER\SQLEXPRESS;Initial Catalog=COI70Empre01;Persist Security Info=True;User ID=sa;Password=aspel**2014" providerName="System.Data.SqlClient" />
<add name="FB" connectionString="User=SYSDBA;Password=masterkey;Database=S:\DAC\Documentos digitales\Deposito1\BaseDatos\ADA_FB.fdb;DataSource=localhost; Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;
MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0;" providerName="FirebirdSql.Data.FirebirdClient"/>-->
    
<!--<add name="SAE" connectionString="Password=aspel**2014;Persist Security Info=True;User ID=sa;Initial Catalog=SAE60Empre01;Data Source=aromitalia.dyndns.org\SQLEXPRESS;" providerName="System.Data.SqlClient" />
    <add name="COI" connectionString="Password=aspel**2014;Persist Security Info=True;User ID=sa;Initial Catalog=COI70Empre01;Data Source=aromitalia.dyndns.org\SQLEXPRESS;" providerName="System.Data.SqlClient" />
    <add name="POLIZA_AROMITALIA.My.MySettings.COI70Empre01ConnectionString" connectionString="Data Source=aromitalia.dyndns.org\SQLEXPRESS;Initial Catalog=COI70Empre01;Persist Security Info=True;User ID=sa;Password=aspel**2014" providerName="System.Data.SqlClient" />
<add name="FB" connectionString="User=SYSDBA;Password=masterkey;Database=S:\DAC\Documentos digitales\Deposito1\BaseDatos\ADA_FB.fdb;DataSource=localhost; Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;
MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0;" providerName="FirebirdSql.Data.FirebirdClient"/>-->
      
  </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient"/>
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient"/>
		</DbProviderFactories>
	</system.data></configuration>
