<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>

   <add name="SAE" connectionString="Password=dev22;Persist Security Info=True;User ID=sa;Initial Catalog=SAE80Empre01;Data Source=DESKTOP-9TOA5T5\SQLEXPRESS;" providerName="System.Data.SqlClient"/>
<add name="COI" connectionString="Password=dev22;Persist Security Info=True;User ID=sa;Initial Catalog=COI80Empre1;Data Source=DESKTOP-9TOA5T5\SQLEXPRESS;" providerName="System.Data.SqlClient"/>
<add name="POLIZA_AROMITALIA.My.MySettings.COI80Empre01ConnectionString" connectionString="Data Source=DESKTOP-9TOA5T5\SQLEXPRESS;Initial Catalog=COI80Empre1;Persist Security Info=True;User ID=sa;Password=dev22" providerName="System.Data.SqlClient"/>
    <!--
<add name="SAE" connectionString="Password=aspel**2022;Persist Security Info=True;User ID=sa;Initial Catalog=SAE80Empre01;Data Source=DELLSERVER\SQLEXPRESS;" providerName="System.Data.SqlClient"/>
<add name="COI" connectionString="Password=aspel**2022;Persist Security Info=True;User ID=sa;Initial Catalog=COI80Empre1;Data Source=DELLSERVER\SQLEXPRESS;" providerName="System.Data.SqlClient"/>
<add name="POLIZA_AROMITALIA.My.MySettings.COI70Empre01ConnectionString" connectionString="Data Source=DELLSERVER\SQLEXPRESS;Initial Catalog=COI80Empre1;Persist Security Info=True;User ID=sa;Password=aspel**2022" providerName="System.Data.SqlClient"/>
-->
      
  </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient"/>
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient"/>
		</DbProviderFactories>
	</system.data></configuration>
